// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    background-image: url(../../public/image/Background.jpg);
    background-color: rgba(#f8fafc, 0.4);
    background-blend-mode: lighten;
}

h1 {
    font-family: 'Caveat', cursive;
    color: #355a07;
}

.navbar {
    padding: 1.0rem 1.0rem;
}

.bg-color,
.navbar-color,
.thead-color {
    background-color: #7a5b43;
}

// .btn-menu {
//     color: #fff;
//     background-color: #e7824b;
//     border-color: #f7b998;
// }

.btn-menu {
    color: #fff;
    background-color:  #719e3e;
    border-color: #bfdd9d;
}

.btn {
    font-weight: bold;
}

.btn-normal {
    color: #4b321e;
    background-color: #B99B84;
    border-color: #7a5b43;
}


.table {
    background-color:rgba(#f1e7e0, 0.5);
}

thead {
    color: #fff;
}

tbody td,
div label {
    font-weight: bold;
}

.bg-box {
    background-color: rgba(#f1e7e0, 0.5);
    padding: 40px 50px 50px 30px;
}

//  {
//     background-color: ;rgba(#f0f0d4, 0.5);
// }

// .navbar #title {
//     font-family: 'Caveat', cursive;
// }