// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    background-image: url(../../public/image/Background.jpg);
    background-color: rgba(#f8fafc, 0.4);
    background-blend-mode: lighten;
}

h1 {
    font-family: 'Caveat', cursive;
    color: #355a07;
}

.navbar {
    padding: 1.0rem 1.0rem;
}

.bg-color {
    background-color: #9bc46c;
}

.navbar-color {
    background-color: #9bc46c;
}

.btn-menu {
    color: #fff;
    background-color: #e7824b;
    border-color: #e7824b;
}

.table {
    background-color:rgba(#d7e4c8, 0.4);
}

.thead-color {
    background-color: #9bc46c;
}
// .navbar #title {
//     font-family: 'Caveat', cursive;
// }